.footer-div {
    padding-top:50px;
    padding-bottom: 50px;
    color: white;
    background-color: rgb(23, 27, 57);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.footer-title{
  margin-bottom: 30px;
}

.footer-element {
    width: 33%;
}
